.next-btn {
  background-color: #fcfcfc;
  border-radius: 0.8rem;
  box-shadow: none;
  color: #038c33;
  font-family: Bangers , cursive;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  padding: 0.3rem 3rem;
}
