.config-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.config-title {
  color: #038c33;
  font-family: Bangers , cursive;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.config-container {
  align-items: center;
  background-color: #ccc;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  padding: 2rem 4rem;
  width: fit-content;
}

.config-label {
  margin-bottom: 1.8rem;
  width: 100%;
}

.config-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #8f8f8f;
  color: #313131;
  font-size: 1rem;
  outline: none;
  padding: 1rem 0;
  width: 100%;
}

.save-btn {
  background-color: #038c33;
  border: none;
  border-radius: 0.5rem;
  color: #fcfcfc;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
